@model SamayaPatra.Common.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login :: Samaya Patra</title>
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/build/toastr.min.css" rel="stylesheet" />
    <link href="~/styles/site.css" rel="stylesheet" />
</head>
<body class="light-login">
    <div class="container">
        <div class="row">
            <div class="col-4 mx-auto p-3 login-box" style="margin-top: 10%;">
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h3 class="text-center header blue">Samaya Patra</h3>
                    <div class="form-group">
                        <label asp-for="UserName">Username</label>
                        <input type="text" class="form-control" asp-for="UserName" placeholder="Username">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="chkRememberMe">
                        <label class="form-check-label" for="chkRememberMe">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary fa-pull-right"><i class="fa fa-sign-in"></i>&nbsp;Sign In</button>
                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/toastr/build/toastr.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/app.js"></script>
    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMesssage))
    {
        <script>showMessage('@ViewBag.ErrorMesssage', 'error');</script>
    }
</body>
</html>
